.cardClass {
    margin: 10px;
    padding: 10px;
    border: 1px solid #d3d3d3;
    box-shadow: 1px 1px 5px 1px #7089fa;
}

.cardLong {
    width: 100%;
}

.cardShort {
    max-width: fit-content;
}

.cardImgPrint {
    width: 500px;
    height: auto;
}

.cardImgIcon {
    cursor: pointer;
    width: 50px;
    height: auto;
    margin: 5px;
}