.cardLong {
    margin: 10px;
}

.cardShort {
    margin: 10px;
    max-width: fit-content;
}

.cardImgPrint {
    width: 500px;
    height: auto;
}

.cardImgIcon {
    cursor: pointer;
    width: 50px;
    height: auto;
    margin: 5px;
}

.cardGroupList {
    display: flex;
    flex-wrap: wrap;
}