.header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #373b3e;
}

.imgLogo {
    width: 50px;
    height: auto;
    margin: 0 10px;
}

ul, li {
    padding: 0;
    margin: 0;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin: 5px 10px;
}

.item a {
    color: #FFFFFF;
    text-decoration: none;
}

.item a:hover {
    color: #7089fa;
}

.btnMenu {
    display: none;
}

.btnMenu svg {
    font-size: 24px;
}

@media (max-width: 1000px) {
    .btnMenu {
        display: block;
    }

    .list {
        position: absolute;
        top: 70px;
        right: -300px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px 0;
        background-color: #FFFFFF;
        border-radius: 7px;
        border: 0.5px solid;
        box-shadow: 0.1px 0.1px #373b3e;
    }

    .list.active {
        right: 0;
    }

    .item {
        width: 100%;
        margin: 0 10px;
    }

    .item a {
        color: #373b3e;
        background-color: #FFFFFF;
        display: block;
        padding: 5px 15px;
    }
    
    .item a:hover {
        color: #FFFFFF;
        background-color: #7089fa;
    }
}