.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePicImg {
    width: 300px;
    height: auto;
    margin: 0 50px;
    border: 1px solid #d3d3d3;
    box-shadow: 1px 1px 20px 1px #7089fa;
    border-radius: 200px;
}

.infoText {
    margin: 50px 0;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 10px;
    justify-content: center;
    align-items: center;
}

.space {
    /* Remover */
    height: 300px;
}

@media (max-width: 1000px) {
    .info {
        flex-direction: column;
    }

    .profilePicImg, .infoText {
        margin: 20px 0;
    }

    .profilePicImg {
        width: 200px;
    }
}