.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePicImg {
    width: 300px;
    height: auto;
    margin: 0 50px;
    border-radius: 200px;
    border: 5px solid #7089fa;
}

.infoText {
    margin: 50px 0;
}

@media (max-width: 1000px) {
    .info {
        flex-direction: column;
    }

    .profilePicImg, .infoText {
        margin: 20px 0;
    }

    .profilePicImg {
        width: 200px;
    }
}