.formSelect {
    margin: 5px;
}

.formSelect label {
    color: #7089fa;
    margin-bottom: 5px;
}

.formSelect select {
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
}