.footer {
    position: fixed;
    display: block;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
    background-color: #373b3e;
}

.socialList {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.socialList li {
    margin: 5px 15px;
}

.socialList li:hover {
    color: #8257e5
}

.socialList a {
    color: #FFFFFF;
}

.socialList a:hover {
    color: #8257e5;
}

.socialList svg {
    font-size: 24px;
    cursor: pointer;
}

.copyRight {
    margin: 5px 0px;
}

.copyRight span {
    font-weight: bold;
    color: #8257e5;
}

.copyRight span:hover {
    color: #FFFFFF;
}

.copyRight a {
    text-decoration: none;
}